# Which type of container system to use: docker, podman
# note that podman is not tested since long time and might not work.
DOP=docker

# The list of domains for which you want to install a glob ssl certificate
# Example, if the domain in the list is dev.jkldsa.com, the certificate should
# be valid for *.dev.jkldsa.com
DOMAINS=dev.fsd.team dev.jkldsa.com docker.jkldsa.com

# One of the above domains where you want to reach traefik UI (https://traefik.DEV_DOMAIN)
# DEV_DOMAIN=dev.jkldsa.com

# The base path where to find the glob certificates.
# Foreach domain, there should be a sub directory with the same name
# containing fullchain.pem and privkey.pem files
CRTDIR=/keybase/team/epfl_idevfsd/certs

# If you want to use mkcert for generating your ssl keys, add them here
MKCERT_DOMAINS=

# The domain name to be used in the example
DEV_DOMAIN=dev.jkldsa.com
